@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* background-color: bisque; */
    font-family: 'Be Vietnam Pro', sans-serif;
}


/* --------------------------------- HEADER --------------------------------- */
header nav {
    background-color: bisque;
    height: 174px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


img.logo {
    width: 125px;
    height: 24px;
}


header nav ul li {
    display: inline-block;
    color: #242E52;
    font-weight: 500;
    font-size: 15px;
    list-style-type: none;
    margin-left: 30px;
}

header nav ul li a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

header nav ul li a:hover {
    color: Silver;
}

header button.getStartedOrange {
    background-color: #F3603B;
    width: 134px;
    height: 44px;
    color: white;
    font-size: 15px;
    border: none;
    margin: 25px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* ---------------------------------- MAIN ---------------------------------- */
main {
    height: 80vh;

}

/* --------------------------------- FOOTER --------------------------------- */
footer nav {
    background-color: #1E1E26;
    height: 247px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* footer nav ul li {
    display: inline-block;
    color: #FFFFFF    ;
    font-weight: bold;
    font-size: 15px;
    list-style-type: none;

} */




footer nav ul li a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

footer nav ul li a:hover {
    color: Silver;
}



.footerRedes {
    display: flex;
    width: 140px;
    height: 24px;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
}

.footerRedes a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.footerRedes a:hover {
    color: #F3603B;
}


.footerLogo {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 33%;
}

.footerLink {
    height: 33%;
}

ul.footerLinksOne {
    list-style-type: none;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
} 

ul.footerLinksTwo {
    list-style-type: none;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
} 


footer button.goOrange {
    background-color: #F3603B;
    width: 63px;
    height: 44px;
    color: white;
    font-size: 15px;
    border: none;
    margin: 25px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

footer input {
    width: 201px;
    height: 44px;
    border-radius: 50px;
    font-size: 14px;
}

.footerLink{
    display:flex;
    align-items: flex-start;
    justify-content:space-between;
}

.footerLink li {
       margin-bottom: 10px;
    }


.footerForm{
    height: 33%;
}